.cardgame-main {
    margin-left: 220px;
}

.table-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darkgreen;
    border-radius: 20px;
    width: 1000px;
    margin-left: 70px;
}