.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neon-title {
    font-family: 'Mrs Saint Delafield', sans-serif;
    font-size: 40px;
    color: #daa520;
    margin-top: 20px;
    margin-bottom: -30px;
}

.neon{
    font-family: 'Monoton', cursive;
    font-size:80px;
    color: #FFD5FF;
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
animation: flicker 3s linear infinite;
}

.flicker-fast{
animation: flicker 1s linear infinite;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
        
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}

.home-logo {
    width: 400px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(218, 165, 32, 0.5), 0 6px 20px 0 rgba(218, 165, 32, 0.89);
    margin-bottom: 30px;
}

.login-button {
    font-family: 'Roboto', sans-serif;
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #daa520;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 50px;
}

.login-button span {
position: relative;
display: flex;
justify-content: center;
align-items: center;
bottom: 0.4em;
width: 8.25em;
height: 2.5em;
background-color: #daa520;
border-radius: 0.2em;
font-size: 1.5em;
color: #141a36;
border: 0.08em solid #fff;
box-shadow: 0 0.4em 0.1em 0.019em antiquewhite;
}

.login-button span:hover {
transition: all 0.5s;
transform: translate(0, 0.4em);
box-shadow: 0 0 0 0 #daa520;
}

.login-button span:not(hover) {
transition: all 1s;
}

.disclaimer-title {
    font-family: 'Roboto', sans-serif;
    color: #daa520;
}

.disclaimer {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: antiquewhite;
    padding-left: 15px;
    padding-right: 15px;
}
