.test-title {
    margin-left: 300px;
}

.container {
    margin-left:220px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.board {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    column-gap: 60px;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 2%;
}
.card {
    text-align: center;
    height: 140px;
    width: 120px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 255, 0.5), 0 6px 20px 0 rgba(255, 0, 255, 0.39);
}

.card-img {
    width: 120px;
    height: 140px;
    border-radius: 20px;
}

.card.gameover {
    pointer-events: none;

}
.card-0 {
    transform: rotateY(0deg);
}
.card.active {
    transform: rotateY(180deg);
}
.card.matched .card-front {
    box-shadow: 0 0 10px rgba(10, 236, 25, 1.9), 0 0 20px rgba(9, 235, 24, 1.8);
    color: white;
}
.card-front,
.card-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    backface-visibility: hidden;
    height: 100%;
    border-radius: 20px;
}
.card-front {
    transform: rotateY(180deg);
    background-color: #eee;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
    z-index: 2;
}
.card-back {
    background-image: url('../../public/cards.jpg');
    transform: rotateY(0);
    z-index: 1;
    background-size: cover;
}
.card-back::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    border-radius: 20px;
}
.menu {
    display: flex;
}

.menu p {
    font-size: 20px;
    font-weight: 600;
}

.left-container {
    background-color: magenta;
    min-height: 669px;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 0, 255, 0.5), 0 6px 20px 0 rgba(255, 0, 255, 0.49);
}

.ingame-title {
    font-family: 'Rubik Puddles';
    font-size: 36px;
    color: magenta;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #141a36;
    border-radius: 20px;
    padding: 5px;
}

.game-intro-bio {
    font-size: 12px;
    font-style: italic;
    color: #141a36;
    margin-bottom: 10px;
}

.ingame-balance {
    background-color: #141a36;
    color: magenta;
    font-family: 'Rubik Puddles';
    font-size: 21px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.moves-left {
    background-color: #141a36;
    color: magenta;
    font-family: 'Rubik Puddles';
    font-size: 21px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.play-btn {
    position: relative;
    width: 11em;
    height: 4em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #141a36;
    margin-left: 50px;
}

#clip {
    --color: #141a36;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #195480;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #141a36;
    top: 35%;
    width: 11%;
    height: 30%;
}

#leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 102%;
}

.play-btn:hover #rightArrow {
    background-color: #27c39f;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

.play-btn:hover #leftArrow {
    background-color: #27c39f;
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #141a36;
    box-shadow: inset 1px 1px 8px #2781c3;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
}

#rightTop {
    top: -1.98em;
    left: 91%;
}

#leftTop {
    top: -1.96em;
    left: -3.0em;
}

#leftBottom {
    top: 2.10em;
    left: -2.15em;
}

#rightBottom {
    top: 45%;
    left: 88%;
}

.play-btn:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

.play-btn:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

.play-btn:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

.play-btn:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

.play-btn:hover .corner {
    transform: scale(1.25) rotate(45deg);
}

.play-btn:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #27c39f;
}

@keyframes changeColor8 {
    from {
        background-color: #2781c3;
    }

    to {
        background-color: #27c39f;
    }
}

@keyframes lightEffect8 {
    from {
        box-shadow: 1px 1px 5px #27c39f;
    }

    to {
        box-shadow: 0 0 2px #27c39f;
    }
}

@keyframes greenLight8 {
    from {
    }

    to {
        box-shadow: inset 0px 0px 32px #27c39f;
    }
}

@keyframes leftArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(10px);
    }
}

@keyframes rightArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(-10px);
    }
}

