.slots-main {
    margin-left: 220px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.slots-left {
  background-color: rgb(26, 202, 233);
  height: 721px;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(247, 58, 90, 0.5), 0 6px 20px 0 rgba(247, 58, 90, 0.79);
}

.slots-right {
  display: flex;
  flex-direction: column;
}

.slots-title {
  font-family: 'Cherry Bomb One', curs;
  font-size: 36px;
  color: #141a36;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(247, 58, 90);
  border-radius: 20px;
  padding: 5px;
}

.slots-bio {
  font-size: 12px;
  font-style: italic;
  color: #141a36;
  margin-bottom: 10px;
}

.slot-balance {
    background-color: rgb(247, 58, 90);
    color: #141a36;
    font-family: 'Cherry Bomb One', curs;
    font-size: 21px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slots-text {
  background-color: rgb(247, 58, 90);
  color: #141a36;
  font-family: 'Cherry Bomb One', curs;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px;
  width: 350px;
  margin:80px 80px -90px 75px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(26, 202, 233, 0.5), 0 6px 20px 0 rgba(26, 202, 233, 0.79);
}

.spinner-container {
  overflow: hidden;
  background-color: rgb(247, 58, 90);
  height: 632px;  
  padding: 2em;
  transform: translate(-50%, -50%) scale(.62, .62);
  display: flex;
  flex-direction: row;
  transition: 0.3s transform;
  margin-top: 300px;
  margin-left: 250px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(26, 202, 233, 0.5), 0 6px 20px 0 rgba(26, 202, 233, 0.79);
}

@import url('https://fonts.googleapis.com/css?family=Cairo');

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

#repeatButton {
  --bg: rgb(247, 58, 90);;
  --text-color: #141a36;
  position: relative;
  font-family: 'Cherry Bomb One', curs;
  font-size: 30px;
  width: 260px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
  margin-top: 20px;
}

#repeatButton:hover {
  opacity: 1;
}

#repeatButton:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

.win-text {
  color: aliceblue;
  border: 1px solid hsla(208, 100%, 97.1%, .1);
  display: inline-block;
  padding: 0.75rem 1rem;
}

.icons { 
  display: inline-block;
  width: 128px;
  height: 564px;
  overflow: hidden;
  background: #fff url(https://andyhoffman.codes/random-assets/img/slots/sprite5.png) repeat-y;
  will-change: backgroundPosition;
  transition: 0.3s background-position ease-in-out;
  padding: 0 80px;
  transform: translateZ(0);
}

.icons:nth-child(2) {
  margin: 0 10px;
}


.app-wrap.winner-false {
  animation: linear 1s spin;
}

.spinner-container::after {
  position: absolute;
  content: '';
  display: block;
  height: 180px;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  left: 30px;
  background: rgba(255, 0, 0, .1);  
}

.gradient-fade {
  position: absolute;
  top: 32px;
  right: 32px;
  bottom: 32px;
  left: 32px;
  background: linear-gradient(
    to bottom, 
    rgba(64,64,64,1) 0%, 
    rgba(64,64,64,0) 7%, 
    rgba(64,64,64,0) 93%, 
    rgba(64,64,64,1) 100%
  );
}

@media screen and (max-width: 1000px) {
  .spinner-container {
    transform: translate(-50%, -50%) scale(.55, .55);
  }
}

@media screen and (max-width: 500px) {
  .spinner-container {
    transform: translate(-50%, -50%) scale(.4, .4);
  }
}